<div>
    <h1>Peer-to-Peer Cue System --- Supplier</h1>

    <table class="control">
        <tr>
            <td class="title">Status:</td>
            <td class="title">Messages:</td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr v-for="(u, i) in list_users">
                        <td>{{i}}</td>
                        <td>{{u.username}}</td>
                        <td>{{u.peer_id}}</td>
                        <td><button @click="connectToClient(u.peer_id)">Connect</button></td>
                    </tr>
                </table>
            </td>
            <td>
                <input type="text" v-model="connection.message" placeholder="Enter a message..." autofocus="true" />
                <button type="button" @click="sendDataInput">Send</button>
                <button type="button" id="clearMsgsButton">Clear Msgs (Local)</button>
            </td>
        </tr>
        <tr>
            <td><div id="status" class="status"></div></td>
            <td><div class="message" id="message"></div></td>
        </tr>
        <tr>
            <td>
                <button type="button" class="control-button" id="resetButton">Reset</button>
            </td>
            <td>
                <button type="button" class="control-button" id="goButton">Go</button>
            </td>
        </tr>
        <tr>
            <td>
                <button type="button" class="control-button" id="fadeButton">Fade</button>
            </td>
            <td>
                <button type="button" class="control-button" id="offButton">Off</button>
            </td>
        </tr>
    </table>
</div>