<div>
    <table class="display">
        <tr>
            <td class="title">Status:</td>
            <td><div class="status">{{status}}</div></td>
        </tr>
        <tr>
            <td>
                <div style="font-weight: bold;" title="Copy this ID to the input on send.html.">{{lastPeerId}}</div>
            </td>
            <td>
                <input type="text" v-model="txMessageManual" placeholder="Enter a message..." autofocus="true" />
                <button type="button" @click="txPeerClient(txMessageManual)">Send</button>
                <button type="button" @click="connSerial">Serial Connect</button>
            </td>
        </tr>
        <tr>
            <td class="display-box standby" id="standby"><h2>Standby</h2></td>
            <td class="display-box hidden" id="go"><h2>Go</h2></td>
        </tr>
        <tr>
            <td class="display-box hidden" id="fade"><h2>Fade</h2></td>
            <td class="display-box hidden" id="off"><h2>All Off</h2></td>
        </tr>
    </table>
</div>